
.subgroups__actions {
  padding-left: 0;
}

#drivers-sort {
  padding-right: 0;
}

.driver-card__container {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 6px;
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 5px;
}

.driver-card__container.info-box {
  position: relative;
  display: contents;
  gap: 5px;
  grid-template-columns: 1fr;
  padding: 1rem;
}
.driver-card__container.info-box .info-box-close {
  all: unset;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  color: #b2c7d7;
  background-color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
}
.driver-card__container.info-box .info-box-close:hover {
  background-color: #eee;
}

.driver-card__container.active {
  border-color: #e2e8f0;
  background-color: #f8fafc;
  border-radius: 10px;
}

.driver-card-image-container {
  border-radius: 1000px;
  display: grid;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.driver-card-image-container svg {
  width: 17px;
}

.driver-card-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* width: max-content; */
  min-width: 350px;
}

.driver-card-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.driver-card__container.active .driver-card-header {
  border-bottom: 1px solid #e2e8f0;
}

.driver-card__container.info-box .driver-card-header {
  position: relative;
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 5px;
}

.driver-card__container.info-box .driver-card-header .driver-details-toggle {
  position: absolute;
  bottom: 0;
}

.driver-card-header-row1,
.driver-card-header-row2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.driver-card-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.driver-name {
  font-size: 14px;
  font-weight: 600;
}

.driver-status {
  padding: 2px 5px;
  border-radius: 11px;
  font-size: 10px;
  font-weight: 600;
}

.driver-card__container.green .driver-card-image-container,
.driver-card__container.green .driver-status {
  background-color: rgb(0 206 0 / 10%);
  color: #00ce6a;
}
.driver-card__container.red .driver-card-image-container,
.driver-card__container.red .driver-status {
  background-color: rgba(244, 67, 54, 0.1);
  color: #f44336;
}
.driver-card__container.orange .driver-card-image-container,
.driver-card__container.orange .driver-status {
  background-color: rgba(255, 166, 0, 0.1);
  color: #ffa500;
}

.driver-zoom-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.driver-zoom-buttons button {
  border: 1px solid #d1d5db;
  background-color: transparent;
  border-radius: 5px;
  height: 15px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.driver-card-speed {
  font-size: 14px;
  font-weight: 600;
}

.driver-card-adress, .driver-gps-lock {
  font-size: 11px;
  color: #37bed1;
}
.driver-gps-lock {
  color: #f44336;
}

.driver-card-time {
  font-size: 12px;
  color: #888b93;
  font-weight: 600;
}

.driver-card-details {
  display: none;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
  border-top: 1px solid rgb(226, 232, 240);
    padding: 5px;
}

.driver-card__container.active .driver-card-details {
  display: flex;
}

.driver-gps-messsage {
  /* margin-top: 0.5rem; */
  font-size: 10px;
  color: #888b93;
  font-weight: 400;
}
.driver-gps-messsage a {
  color: #37bed1;
  text-decoration: underline;
}

.driver-detials-last {
  display: flex;
  gap: 10px;
  margin-bottom: 0.5rem;
}

.driver-last-record {
  display: flex;
  gap: 5px;
  font-size: 10px;
}

.record-label {
  color: #888b93;
  font-weight: 400;
  font-size: 10px;
}

.record-value {
  font-weight: 600;
  color: #888b93;
}

.driver-stats {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 9px;
  flex-wrap: wrap;
}
.driver-card__container.info-box .driver-stats {
  gap: 5px;
}

.driver-stat {
  display: flex;
  align-items: center;
  gap: 3px;
  text-wrap: nowrap;
  color: #494F50;
}

.driver-stats-key,
.driver-stats-value {
  display: inline-block;
  line-height: 1;
}

.driver-stats-key {
  font-weight: 500;
  font-size: 12px;
  color: #494F50;
}

.driver-stats-value {
  font-weight: 400;
  font-size: 10px;
}

.driver-actions {
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.driver-actions-row {
  display: flex;
  padding: 5px 0;
  gap: 5px;
}

.driver-actions-row.row--1 {
  border-bottom: 1px solid #e2e8f0;
}

.driver-actions-row button {
  border-radius: 5px;
  background-color: white;
  color: #888b93;
  flex: 1;
  font-size: 10px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
  transition: all 0.2s;
  height: 100%;
}
.driver-actions-row button:hover {
  background-color: #eee;
}

.driver-actions-row button.red-btn {
  background-color: rgba(244, 67, 54, 0.1);
  color: #f44336;
  border: 1px solid #f44336;
}
.driver-actions-row button.blue-btn {
  background-color: rgba(55, 191, 209, 0.1);
  color: #37bed1;
  border: 1px solid #37bed1;
}
.driver-actions-row button.blue-btn:hover {
  background-color: rgba(55, 191, 209, 0.2);
}
.driver-actions-row button.red-btn:hover {
  background-color: rgba(244, 67, 54, 0.2);
}

.rotate-180 {
  transform: rotate(180deg);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-family: "Segoe UI", system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Header Button */
.header__btn1 {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.375rem;
}

.header__btn1:hover {
  background-color: var(--color-selected);
}

.header__btn1 div {
  width: 20px;
  height: 20px;
  background-color: currentColor;
}

/* Header Button mobile */
.header__btn1--mobile {
  display: flex;
}

.header__btn1--mobile div {
  width: 18px;
  height: 18px;
  background-color: currentColor;
}

@media (min-width: 768px) {
  .header__btn1--mobile {
    display: none;
  }
}
#driver-card-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#driver-card-list .driver-card {
  display: grid;
  margin-bottom: auto;
  box-shadow: none;
}

@media (min-width: 768px) {
  .panel--small, #driver-card-panel {
      width: 460px !important;
  }
}